@import "../../sassStyles/variables";

.navigation {
  display: flex;
  height: 95px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: $primary-color;
    font-size: 24px;
  }
}
